<section class="phx-hero">
  <div class="p-10">
    <%= live_component @socket, DatePickerWeb.Live.Components.DatePickerComponent, id: "date_picker", selected_date: @selected_date, calendar_open: @calendar_open %>
  </div>
</section>
